<form action="/things/<%= @thing.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <%= erb :form %>
</form>
<form action="/things/<%= @thing.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form><br>

<a href="/things">Discard Changes</a>
