

<div class="container">
    <h1>FAQ</h1>
    <h3>Hvad er det her for en side?</h3>
    <p>En side for matematik memes <a href="https://www.facebook.com/groups/852892394871017/">facebook side</a> hvor det er nemmere at finde de bedste memes.</p>

    <h3>Hvorfor kan man ikke se navnene på dem der har lavet memes?</h3>
    <p>For at vise postene fra siden, skal man lave et API kald. For at lave det API kald skal man bruge en access token. Jeg har umiddelbart ikke lov til at få adgang til folks navne med den access token.</p>

    <h3>Hvad hvis jeg har nogle ændringer til denne side?</h3>
    <p>Du er velkommen til at komme med forbedringer eller andet. Du kan finde repositoriet <a href="https://github.com/SorenHolstHansen/matematikmemes">her</a>.</p>

    <h3>Jeg har lige lavet et nice meme. Hvorfor kan jeg ikke finde det her?</h3>
    <p>Siden bliver opdateret hver nat klokken 5. Så i morgen kan du sikkert se dit meme.</p>
</div>
